<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrderInfoService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IOrderInfoService"
                contract="IBLL.IOrderInfoService" name="BasicHttpBinding_IOrderInfoService" />
        </client>
    </system.serviceModel>
</configuration>